body{
    display: grid;
    background: red;
    height: 100vh;
    margin: 0;
    grid-template-rows: auto 2fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: 
    "hd hd as"
    "ma ma as"
    "ft ft ft"
    ;
}
header{
grid-area: hd;
background: lightcoral;
}
main{
grid-area: ma;
background: lightcyan;
display: flex ;
justify-content: center;
}
footer{
grid-area: ft;
background: lightslategray;
}
aside{
grid-area: as;
background: lightyellow;
display: flex;
    flex-direction: column;
}

.ins{
    display: flex;
    flex-direction: column;
}