.back{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 5rem;
    border: 3px solid red;
    border-radius: 7px;
    background: darkgray;
    color: white;
    font-size:  1rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
body{
    display: grid;
    margin: 0;
    height: 120vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    grid-template-areas:
    "header header header aside"
    " main main main aside"
    " main main main aside"
    " main main main aside"
    " footer footer footer  footer";
}
footer{
    grid-area:footer ;
    background: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
header{
    grid-area: header;
    background: lightcoral;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

aside{
    grid-area: aside;
    background: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

main{
    grid-area: main;
    background-color:lightgreen ;
    display: flex;
    justify-content: center;
    align-items: center;
}


.td{
    border: 1px solid black;
    background:lightsteelblue;
    margin: 5px;
    padding: 10px;
}

.th{
    border: 1px solid black;
    margin: 10px;
    padding: 25px;
    background:lightsteelblue;
    font-size: 25px;
}
.tr{
    border: 1px solid black;
    margin: 10px;
    padding: 25px;
    background:lightsteelblue;
    font-size: 25px;
}
.h{
    font-size: 50px;
    color: lightgreen;
}
.buttona{

    background: none;
    border: none;
    outline: none;
    background-color: lightgreen;
    padding: 15px;
    font-size: 20px;
    width: 100px;
    border-radius: 10px;
    transition: 0.3s;


}
.btnCol{
    padding: 20px;
    border: 3px solid red;
    border-radius: 7px;
    background: darkgray;
    color: white;
    font-size:  1rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}
.btnCol:hover{
background: black;
}
.karty{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 5rem;
    border: 3px solid red;
    border-radius: 7px;
    background: darkgray;
    color: white;
    font-size:  1rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
.karty:hover{
    background: black;
    }

.Github{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 8rem;
    border: 3px solid red;
    border-radius: 7px;
    background: darkgray;
    color: white;
    font-size:  1rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    text-decoration: none; 
}
.Github:hover{
    background: black;
    }
.insert{
        display: flex;
        flex-direction: column;
}
.logowanie{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 5rem;
    border: 3px solid red;
    border-radius: 7px;
    background: darkgray;
    color: white;
    font-size:  1rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    text-decoration: none; 
}
.log:hover{
    background: black;
}








