body{
    background:lightgreen;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "hd"
    "ma"
    ;
}
.element-text{
flex-basis: 30%;
font-size: 19px;
}